@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Lora:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

#menu {
    color: red;
    font-size: 110%;
    float: right;
  
}

#menu li {
    letter-spacing: 3px;
    list-style-type: none;
    margin-right: 30px;
}