@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Lora:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Cormorant SC, sans-serif;
    font-weight: 400;
    color: #3B4242;
   
}


h1, h2 {
    font-family: Lora, sans-serif;
    font-weight: 500;
    color: #ACC4C4;
}

/* header and logo*/

#logo {
    float: left;
    font-size: 220%;
    text-transform: uppercase;
    height: 50px;
    margin-left: 30px;
}

#logo a {
    text-decoration: none;
    color: inherit;


}
/*menu*/

#menu {
    letter-spacing: 2px;
    font-size: 120%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color: #ACC4C4;
}

#menu, #logo {
    line-height: 80px;
}
#menu a:hover {
    border-bottom: 1px solid;    

}

.active {
    border-bottom: 2px solid;
}

/*div and hr*/

div hr {
    border-bottom: 1px #3B4242 solid;
    width: 100%;
}

.hero-img {
    background-color: #3B4242;
   background-image: url(../images/hero-image.jpg);
   height: 400px;
   background-repeat: ;
   width: 100%;
   background-size: cover;

   
}

/*intro section*/


#left-content {
    height: 200px;
    padding-top: 20px;
    float: left;
}

#left-content {
    margin-left: 30px;
}

#right-content {
    height: 200px;
    padding-top: 20px;
    float: right;
}

#right-content {
    margin-right: 30px;
}

/*footer*/

#bottom-content {
    position: fixed;
    bottom: 0;
    display: inline;
    text-align: center;
    margin-left: 400px;
    height: 80px;
}