@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Lora:wght@500&display=swap');

nav {
    color: red;
  
}

li {
    float: right;
    letter-spacing: 3px;
    list-style: none;
    margin-left: 5px;
}